h1 {
	font-size: 3em;
	padding: 1em;
	/* Example font size (adjust as needed) */
	text-align: center;
}

h2 {
	font-size: 2.2em;
	padding: 1em;
	/* Example font size (adjust as needed) */
}

h3 {
	padding: 1em;
	/* Example font size (adjust as needed) */
}

html {
	scroll-behavior: smooth;
}

p {
	font-size: 1em;
	padding: 1em;
	/* Example font size (adjust as needed) */
}

h4 {
	text-align: center;
	font-size: 2em;
}

.bar {
	background-color: lightseagreen;
}

#project-section {
	background-color: black;
	color: white;
}

#project-section-alt {
}

#contact-section {
}

/* navbar */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #111111;
}

ul li {
	float: left;
}

ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul li a:hover {
	background-color: #333333;
}

html {
	background-color: black;
	scroll-behavior: smooth;
	color: white;
	font-family: "Lucida Console", "Courier New", monospace;
}
